.sectionTitle {
    width: 50%;
    color: black;
    text-align: center;
    margin:auto;
    border:auto;
    padding:auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:auto;
    background: #5a5349;
}

.aboutMe {
    width: 50%;
}

.screenShot {
    float: right;
}
body {
    background: #333333;
}

.sectionContent {
    width:50%;
    background: #928779;
    margin:auto;
    border:auto;
    padding:1%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:auto;
    color: black;
}

nav ul {
    list-style-type: none;
}

.learningStylesImage {
    text-align: center;
    padding: 1%;
}

.personalityImage {
    text-align: center;
    padding: 1%;
}

.big5FactorsImage {
    text-align: center;
    padding: 1%;
}


