.sectionTitle {
    width: 50%;
    color: black;
    text-align: center;
    margin:auto;
    border:auto;
    padding:auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:auto;
    background: #5a5349;
}

.aboutMe {
    width: 75%;
    padding-bottom: 5%;
}

.screenShot {
    float: right;
}

.screenShot1 {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


body {
    background: #333333;
}

.sectionContent {
    width:50%;
    background: #928779;
    margin:auto;
    border:auto;
    padding:1%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:auto;
    color: black;
}

nav ul {
    list-style-type: none;
}

.images {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    text-align: center;
    padding: 1%;
}

.learningStylesImage {
    max-width: 100%;
    height: auto;
    object-fit: contain;    
}

.personalityImage {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.big5FactorsImage {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}